.body {
    background-color: lightslategray;
}

/* canvas */

#canvas {
    height:100%;
    position:fixed;
    width:100%;
}

/* buttons */

.buttons {
    background-color: lightslategray;
    border-color: black;
    border: 1px, solid, black;
}

.buttons:hover {
    background-color: slategray;
    cursor: pointer;
}

.divButtons  {
    margin: 0 auto;
    text-align: center;
}