.body {
    background-color: #222629;
    min-width: 1000px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

/* month title */

#divMonthTitle {
    text-align: center;
    margin: 0 auto;
    color: #68C232;
    border-bottom: 1px solid #86C232;
    padding-bottom: 5px;
}

#bMonthTitle {
    font-size: 50px;
    margin-left: 70px;
}

.btnLastMonth {
    width: 25px;
    height: 25px;
    background: none;
    color: #FFFFFF;
    border: #86C232 1px solid;
    cursor: pointer;
    float: left;
    margin-top: 19.15px;
}

.btnNextMonth {
    width: 25px;
    height: 25px;
    background: none;
    color: #FFFFFF;
    border: #86C232 1px solid;
    cursor: pointer;
    float: right;
    margin-top: 19.15px;
}

/* week days */

#divWeekDays {
    text-align: center;    
    margin: 0 auto;    
}

#lblWeekDays {
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    color: #FFFFFF;
}

/* calender days display */

#divCalendarDisplay {
    height: fit-content;
}

/*#divWeek {
    height: fit-content;
}*/

#divColumn {
    float: left;
    width: 130px;
    margin-left: 6.4px;
    margin-right: 6.4px;
    height: 700px;
}

.divDay {
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #FFFFFF;
    border: 1px solid #68C232;
}

.divDayTitle {
    margin: 0 auto;
    text-align: center;
}