.titleDiv {
    position: relative;
    margin:0 auto;
    text-align: center;
    background-color: #222629;
    height: 120px;
    width: 763px;
}

.title {
    font-size: 100px;
    color: #86C232;
}

.canvas {
    position: relative;
    margin:0 auto;
    width: 800px;
    height:700px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
}

.btnDiv {
    position: relative;
    margin:0 auto;
    text-align: center;
    background-color: #222629;
}

.btns {
    font-size: 25px;
    margin: 5px;
    background-color: #222629;
    color: #FFFFFF;
    border: 1px solid #86C232;
    cursor: pointer;
}

.coordDiv {
    position: relative;
    margin:0 auto;
    text-align: center;
    background-color: #222629;
}