#body {
    background-color: lightslategray;
}

/* leaderboard */

.divLeaderboard {
    text-align: center;
    margin: 0 auto;
}

.divInfo {
    margin-right: 10px;
    margin-left: 10px;
}

.bInfo {
    font-size: 40px;
}

#divRank {
    float: left;
}

#divScore {
    float: left;
}

#divDate {
    float: left;
}

.lblInfo {
    font-size: 20px;
}