.body {
    background-color: lightslategray;
}

/* Make Note */

.makeNoteDiv {
    margin: 0 auto;
    text-align: center;
}

.makeNoteTitle {
    font-size: 30px;
}

.nameTxt {
    background-color: lightslategray;
    border-color: black;
    border-width: 1px;
    width: 266px;
}

.noteTxt {
    background-color: lightslategray;
    border-color: black;
    resize: none;
}

.sendBtn {
    background-color: lightslategray;
    border-color: black;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.sendBtn:hover {
    background-color: slategray;
}

.errorLbl {
    visibility: hidden;
    font-size: 25px;
}

/* Disp Notes */

.prevNotesSubtitleDiv {
    margin: 0 auto;
    text-align: center;
}

.prevNoteSubtitle {
    font-size: 20px;
}

.noteDiv {
    /* formatting */
    background-color: white;
    width: 600px;
    /* border style */
    border: 2px;
    border-color: black;
    /* center align */
    margin: 0 auto;
    text-align: center;
}

.userTimeDiv {
    /*padding-right: 405px;*/
    margin-left: 10px;
    float: left;
}

/*.noteUsername {
    margin-right: 500px;
}*/

.noteTime {
    font-size: 15px;
    /*margin-right: 480px;*/
    /*padding-left: 100px;*/
}

.noteMessage {
    resize: none;
    border: 0px;
}

