.buttons:hover {
    background-color: slategray;
}
.buttons {
    width: 150px;
    height: 150px; 
    border-color: black; 
    background-color: lightslategray;
    cursor: pointer;
    font-size: 50px;
    float: left;
}
.row {
    clear: both;
}