.buttons {
    width: 150px;
    height: 150px; 
    border: 1px solid #86C232; 
    background-color: #222629;
    cursor: pointer;
    color: #86C232;
    font-size: 50px;
    float: left;
}
.row {
    clear: both;
}