.body {
    background-color: #222629;
}

/* title */

.divTitle {
    margin: 0 auto;
    text-align: center;
}

.bTitle {
    font-size: 75px;
    color: #86C232;
}

/* choices */

.divAdd {
    margin: 0 auto;
    text-align: center;
}

#lblChoices {
    font-size: 22px;
    padding-right: 20px;
    color: #FFFFFF;
}

#btnAddChoice {
    background-color: #222629;
    color: #FFFFFF;
    border: 1px solid #86C232;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
}

#btnAddChoice:hover {
    color: #86C232;
}

#btnClear {
    background-color: #222629;
    color: #FFFFFF;
    border: 1px solid #86C232;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
}

#btnClear:hover {
    color: #86C232;
}

#btnPick {
    background-color: #222629;
    color: #FFFFFF;
    border: 1px solid #86C232;
    cursor: pointer;
    width: 300px;
}

#btnPick:hover {
    color: #86C232;
}

/* result */

.divResult {
    margin: 0 auto;
    text-align: center;
}

#lblResult {
    font-size: 30px;
    color: #FFFFFF;
}