.div {
    margin: 0 auto;
    text-align: center;
}

.canvas {
    background-color: black;
}
.canvas:hover {
    cursor: default
}

.body {
    background-color: #222629;
}

.buttons {
    background-color: #222629;
    border: 1px solid #86C232;
    color: #FFFFFF;
    cursor: pointer;
}

.buttons:hover {
    color: #86C232;
}