.body {
    background-color: lightslategray;
}

.mainDiv {
    margin: 0 auto;
    text-align: center;
}

/* Progress Bar */
.progressDiv {
    padding-bottom: 80px;
}

.progress {
    width: 60%;
    height: 20px;
    background-color: white;
}
/* Title */
.titleDiv {
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 80px;
}

/* Subtitle */

.subtitleDiv {
    margin: 0 auto;
    text-align: center;
}

.subtitle {
    font-size: 20px;
}

/* Item Title */

.progTitle {
    font-size: 22px;
}