.body {
    background-color: #222629;
}

.div {
    text-align: center;
    margin: 0 auto;
}

.canvas {
    width: 400px;
    height: 800px;
    background-color: black;
}

.score {
    font-size: 20px;
    color: #86C232;
}

.scoreLbl {
    color: #86C232;
}

.scoreDiv {
    text-align: center;
    margin: 0 auto; 
}