.body {
    background-color: #222629;
}

.div {
    text-align: center;
    margin: 0 auto;
}

.canvas {
    width: 400px;
    height: 800px;
    background-color: black;
}

.canvStored {
    width: 133px;
    height: 120px;
    background-color: black;
    position: absolute;
    z-index: 2;
    margin-left: 10px;
}

.bSavedTitle {
    position: absolute;
    z-index: 2;
    color: #86C232;
    margin-top: 125px;
    margin-left: 55px;
}

.score {
    font-size: 20px;
    color: #86C232;
}

.scoreLbl {
    color: #86C232;
}

.scoreDiv {
    text-align: center;
    margin: 0 auto; 
}