.buttons:hover {
    background-color: slategray;
}
.buttons {
    width: 10%;
    background-color: lightslategray;
    border-color: black;
    cursor: pointer;
}
.smallButtons {
    text-align: center;
    margin: 0 auto;
    display: flex;
    background-color: lightslategray;
    border-color: black;
    cursor: pointer;
}