/* body */
.body {
    background-color: lightslategray;
    min-width: 865px;
}
/* title */
.titleDiv {
    text-align: center;
}
.title {
    font-size: 75px;
    color: black;
}
.titleUnderlineDiv {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px;
}
/* display */
.displayDiv {
    padding-top: 10px;
    /*border-top: 1px solid black;*/
}
.displayTitle {
    display: block;
    text-align: center;
    font-size: 50px;
}
.displayPlayButton {
    background-color: lightslategray;
    border-color: black;
    cursor: pointer;
    text-align: center;
    width: 40%;
    height: 50px;
}
.displayPlayButton:hover {
    background-color: slategray;
}
.displayImg {
    float: left;
    width: 30%;
}
/* SubHeading */
.subHeading {
    font-size: 40px;
}
.subHeadingDiv {
    text-align: center;
    border-bottom: 1px dashed black;
}